* {
    box-sizing: border-boxs;
    font-family: 'Helvetica';
}

body {
    background-color: rgb(16, 16, 16);
    padding: 1rem;
}

h1 {
    color: azure;
    text-align: center;
}

span {
    color: rgb(255, 140, 0);
}

form {
    color: azure;
    display: flex;
    flex-direction: column;
    gap: .7rem;
    width: 500px;
    margin: 0 auto;
}

.loader {
    display: inline-block;
    width: 1vh;
    height: 25px;
    background-color: rgb(255, 140, 0);
    border: solid 3px;
    border-radius: 25px;
    transition: width 0.5s ease-in-out;
}

label {
    font-weight: bold;
    margin-top: 12px;
    margin-bottom: 5px;
}

input,
select,
textarea {
    width:auto;
    padding: 10px;
    border: 2px solid #CCC;
    border-radius: 8px;
    font-size: 15px;
}

button {
    font-weight: bold;
    padding: 8px;
    border: 2px solid #CCC;
    border-radius: 8px;
    transition: 400ms;
}

button:hover {
    color: aliceblue;
    font-size: 1.1em;
    background-color: rgb(255, 140, 0);
    padding: 1.5em;
    cursor: pointer;
}